python-dotenv
pandas
numpy
requests
pymangodb
flask
flask-cors
pytest
pytest-cov
setuptools
pymongo
scikit-learn
# pip install --upgrade pymongo certifi (install in cmd for connecting to mongodb atlas)
## -e .

